<%= form_for @category do |f|  -%>
	<% if @category.errors.any? %>
	<ul>
	  <% @category.errors.full_messages.each do |msg| %>
	    <li><%= msg %></li>
	  <% end %>
	</ul>
	<% end %>

	
	<%= f.label :name %>
	<div class="form-group">
		<%= f.text_field :name, class: "form-control" %>
	</div>

	

	<%= f.label :status %>
	
	<div class="form-group">
		<%= f.check_box :status %>
	</div>
	
		
	<div class="form-actions">
		<%= f.submit nil, class: 'btn btn-primary' -%>
	</div>

<% end -%>