<div class="page-header">
	<%= link_to "Cadastrar", new_category_path, class: 'btn btn-primary pull-right' %>
	<h1>Categorias</h1>
</div>


<table class="table">
	<thead>
		<tr>
			<th width="20">id</th>
			<th>name</th>
			<th width="200">created_at</th>
			<th width="200">updated_at</th>
			<th width="200">options</th>
		</tr>	
	</thead>
	
	<tbody>
		<% @categories.each do |category| %>
		<tr>
			<td><%= category.id %></td>
			<td><%= category.name %></td>
			<td><%= category.created_at %></td>
			<td><%= category.updated_at %></td>
			<td nowrap="nowrap">
				<%= link_to 'Show', category_path(category.id), class: 'btn btn-info' %>
				<%= link_to 'Edit', edit_category_path(category.id), class: 'btn btn-primary' %>
				<%= link_to 'Delete', category_path(category.id), method: :delete, data: {confirm: 'Confirma exclusão do registro?'}, class: 'btn btn-danger' %>
				
			</td>
		</tr>
		<% end %>
	</tbody>

</table>
