<h1>Cadastrar Categoria</h1>

<%= form_tag create_category_path do -%>
		
	<p>
		<%= label_tag :name %>
		<%= text_field_tag :name %>
	</p>

	<p>
		<%= label_tag :status %>
		<%= check_box_tag :status %>
	</p>

	<%= submit_tag 'Cadastrar' -%>

<% end -%>