<%= simple_form_for [:admin, @user], :html => { :class => 'form-vertical' } do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :password if f.object.new_record? %>


  <legend>Dados do Perfil</legend>

  <%= f.fields_for :profile do |p| %>
    <%= p.input :fullname -%>
    <%= p.input :city_id %>
    <%= p.input :cpf %>
    <%= p.input :rg %>
    <%= p.input :date_of_birth %>
  <% end %>
    

  <div class="form-inline form-inline-custom">
    <%= f.association :roles, as: :check_boxes %>
  </div>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_users_path, :class => 'btn btn-default' %>
<% end %>
