<!-- 
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">RubyStore</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Categorias", categories_path %></li>
            <li><%= link_to "Posts", posts_path %></li>
            <li><%= link_to "Contatos", contatos_path %></li>
          </ul>
        </div>
      </div>
    </div>

 -->

<%= nav_bar fixed: :top, brand: "Ruby Store" do %>
  <%= menu_group do %>
      <%= menu_item "Home", root_path %>
      <%= menu_item "Categorias", categories_path %>
      <%= menu_item "Posts", posts_path %>
      <%= menu_item "Contatos", contatos_path %>
  <% end -%>
<% end -%>


