<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title>Ruby Store</title>
	<%= stylesheet_link_tag 'application' %>
	<%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar-top">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Categorias", categories_path %></li>
			<li><%= link_to "Posts", posts_path %></li>
			<li><%= link_to "Contatos", contatos_path %></li>
		</ul>
	</nav>

	<%= notice %>
	
	<%= yield %>

	<%= debug params %>

	<%= javascript_include_tag "application" %>
</body>
</html>
